* {box-sizing: border-box;}

.body{
   font-family: "Source Code Pro";

}
.main{
  padding-bottom: 20px
}


.headerContainer{
  max-width: 900px;
  margin: 40px auto;

}

.container{
  display: flex;
  max-width: 900px;
  margin: auto;
  gap: 80px;
}

.container .leftSide{
  flex: 1;
}

.container .leftSide h1 {
  margin: 0 ;
  font-size: 40px;
  color: #3A4B5C;

}

.container .leftSide p {
  font-size: 20px;
  margin-bottom: 40px;
  color:rgb(100, 106, 111)

}


.container .leftSide input{
  width:100%;
  border: 0;
  padding: 4px;
  margin-bottom: 20px;
  font-size: 17px;
  border-bottom: 2px solid rgba(140, 146, 150, 0.69);
  outline: none;
}

.container .leftSide button{
  background-color: #227C9D;
  color:#FFF;
  font-size: 15px;
  border: 0;
  border-radius: 10px;
  padding: 10px 3px;
  width:100%;
  margin-top:40px; 
  cursor: pointer;
  font-size: 17px;
  transition: all ease .3s;
}

.container .leftSide button:hover {
    opacity: .8;
    color: black;
}

.container .rightSide{
  flex: 1;
  margin-left: 40px;  
  display: flex;  
}


.container .rightSide .grid{
  flex:1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}


.container .rightSide .rightBig{
  flex: 1;
  display: flex;
  text-align: center;
}

.container .rightSide .rightArrow{
  position: absolute;
  margin-top: 150px;
  margin-left: -35px; 
  background-color: #227C9D;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container .rightSide .rightArrow:hover{
  background-color: #1A5B6F;
}

@media (max-width: 770px){ /*Tablet*/

  header{
    padding: 0 20px;
  }
  .container{
    flex-direction: column;
    padding: 0 20px;
    gap: 30px;
  }

   .container .leftSide{
    margin-right: 0;
  }

  .container .rightSide{
    margin-left: 0;
  }

  .container .leftSide h1 {
    font-size: 35px;
    text-align: center;
  }
  .container .leftSide p {
    font-size: 16px;
    text-align: center;
  }
  .container .rightSide .rightArrow{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-left: 0px; 
    margin-top: 0px;

  }
  .container .rightSide .rightArrow:hover{
    width: 45px;
    height: 45px;
  }

  .container .rightSide .rightArrow img{
    width: 20px;
  }
}

@media (max-width: 430px){ /*Mobile*/

  .container .rightSide .grid{
    grid-template-columns: 1fr;
  }

  .container .rightSide .rightArrow{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin-left: 0px; 
    margin-top: 0px;
  }

  .container .rightSide .rightArrow:hover{
    width: 40px;
    height: 40px;
  }

}